/*

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

*/
body {
	font-family: 'Poppins', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .nav-brand .logo-image {
	position: absolute;
	margin-left: -30px;
	height: auto;
	max-width: 200px;
		margin-top: -80px;
} 
   .navbar-brand1 .flex-container {
  	float: left;
		margin-left: -9px;
		outline: none;
		margin-top: -10px;
  	padding-left: 140px;
  	outline: none;
  }
  .navbar .navbar-brand1 .lowercase {
  	align-items: center;
  	color: #fff;
  	text-transform: uppercase;
  	font-size: 28px;
  	font-weight: 700;
  }
  .navbar .navbar-brand1 .uppercase {
  	font-style: normal;
  	color: #f33f3f;
  	margin-left: 10px;
  	font-weight: 700;
  	font-size: 24px;
  }

/* Header Style */
header {
	position: fixed;
	z-index: 99999;
	width: 100%;
	height: 80px;
	background-color: #232323;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
	padding: 17px 0px;
}
.background-header .navbar {
	padding: 17px 0px;
}
.background-header {
	top: 0;
	position: fixed;
	background-color: #fff!important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
	color: #121212!important;
}
.background-header .navbar-nav a.nav-link {
	color: #1e1e1e!important;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
	color: #f33f3f!important;
}


#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
		transition: max-height 0.3s ease; /* Adjust the duration and easing as needed */
		overflow: hidden; /* This is necessary for the transition effect */
}
.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show .nav-link {
  color: #fff;
  padding-bottom: 25px;
  border-bottom: 3px solid #f33f3f;
}
.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	border-color: #fff;
	background-color: #fff;	
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 40px;
	top: 20px;
}
.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #f33f3f;
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}
@media (min-width: 991px) {
	.navbar-nav{
				padding-left: 180px;
			}
}
@media (min-width: 1100px) {
	.navbar-nav {
		padding-left: 150px;
	}
}
@media (min-width: 1150px) {
	.navbar-nav {
		padding-left: 200px;
	}
}
@media (min-width: 1200px) {
	.navbar-nav {
		padding-left: 300px;
	}
}
@media (min-width: 1400px) {
	.navbar-nav {
		padding-left: 500px;
	}
}
@media (max-width: 450px) {
	.flex-container {
		display: none;
	}
}

@media (max-width: 992px) {
	.navbar .navbar-collapse {
		max-height: 0;
		overflow: hidden;
		transition: height 0.5s ease; /* Adjust the duration as needed */
	  }
	

	  .navbar .navbar-collapse.show {
		max-height: 500px; /* Adjust the max-height value based on your content */
	  }
	
	
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    top: 80px;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    background-color: #fff;
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}
	.navbar .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}
	.navbar .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}
	.navbar .navbar-nav a.nav-link {
		padding: 15px 0px;
		color: #1e1e1e!important;
	}
	.navbar .navbar-nav .nav-link:hover,
	.navbar .navbar-nav .active>.nav-link,
	.navbar .navbar-nav .nav-link.active,
	.navbar .navbar-nav .nav-link.show,
	.navbar .navbar-nav .show>.nav-link {
		color: #f33f3f!important;
		border-bottom: none!important;
		padding-bottom: 15px;
	}
}







