/*

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

*/


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
    --white-color: #FFFFFF;
    --primary-color: #FF4400;
    --section-bg-color: #f0f8ff;
    --dark-color: #000000;
    --grey-color: #d0d1d1;
    --p-color: #717275;

    --body-font-family: 'Inter', sans-serif;

    --h5-font-size: 24px;
    --p-font-size: 20px;
    --copyright-text-font-size: 16px;
    --product-link-font-size: 14px;
    --custom-link-font-size: 12px;

    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}

body,
html {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family);
    position: relative;
}

/*---------------------------------------
    TYPOGRAPHY               
  -----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

h1,
h2 {
    font-weight: var(--font-weight-black);
}

h1 {
    font-size: 64px;
    line-height: normal;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
}

a,
button {
    touch-action: manipulation;
    transition: all 0.3s;
}

a {
    color: var(--p-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color) !important;
}

::selection {
    background: var(--primary-color);
    color: var(--white-color);
}

/*---------------------------------------
    CUSTOM LINK               
  -----------------------------------------*/
.custom-link {
    color: var(--p-color);
    font-size: var(--custom-link-font-size);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    position: relative;
}

.custom-link i {
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 100%;
    transition: all 0.3s;
    line-height: normal;
}

.custom-link:hover i {
    opacity: 1;
    left: 101%;
}

.lead {
    font-size: 1.5rem;
    font-weight: var(--font-weight-thin);
}

b,
strong {
    font-weight: var(--font-weight-bold);
}

/*---------------------------------------
    PRE LOADER               
  -----------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 var(--white-color);
}

.spinner {
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
}

.spinner::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -23px;
    border-radius: 50%;
    border: 1px solid #959595;
    border-top-color: var(--white-color);
    animation: spinner .9s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/*---------------------------------------
    CUSTOM BUTTON & ICON              
  -----------------------------------------*/
.custom-btn {
    background: var(--dark-color);
    border-radius: 50px;
    color: var(--white-color);
    font-size: var(--copyright-text-font-size);
    text-transform: uppercase;
    padding: 16.50px 20px;
}

.social-btn {
    background: transparent;
    border: 1px solid var(--grey-color);
    color: var(--dark-color);
    text-transform: none;
}

.social-btn:hover {
    border-color: transparent;
}

.cart-form-select {
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cart-btn {
    border-radius: 0;
    width: 100%;
    font-size: var(--product-link-font-size);
}

.custom-btn:hover,
.slick-slideshow .custom-btn:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

.custom-icon {
    color: var(--p-color);
    font-size: 24px;
}

.custom-icon {
    display: inline-block;
    vertical-align: middle;
}

.bi-bag.custom-icon {
    font-size: 17px;
}

.featured-icon {
    color: var(--grey-color);
    font-size: 52px;
}

/*---------------------------------------
    DIV SEPARATOR               
  -----------------------------------------*/
.div-separator {
    position: relative;
}

.div-separator::before {
    content: "";
    height: 1px;
    background: var(--grey-color);
    display: block;
    width: 100%;
}

.div-separator span {
    position: absolute;
    top: 50%;
    margin-left: -22.5px;
    left: 50%;
    text-align: center;
    background: var(--white-color);
    margin-top: -11px;
    color: var(--dark-color);
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    width: 35px;
    text-transform: uppercase;
}

/*---------------------------------------
    FULL IMAGE               
  -----------------------------------------*/
.full-image-img {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    width: 100%;
    bottom: -120px;
    min-width: 650px;
}

@media (min-width: 1600px) {
    .full-image-img {
        bottom: -200px;
    }
}

ul.social-icons li {
    display: inline-block;
    margin-right: 3px;
}

ul.social-icons li:last-child {
    margin-right: 0px;
}

ul.social-icons li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-color: #eee;
    color: #121212;
    font-size: 18px;
    text-align: center;
    transition: all .3s;
}

ul.social-icons li a:hover {
    background-color: #f33f3f;
    color: #fff;
}

a.filled-button {
    background-color: #f33f3f;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
}

a.filled-button:hover {
    background-color: #121212 !important;
    color: #fff;
}

.section-heading {
    text-align: left;
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
}

.section-heading h2 {
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 15px;
}

.product-heading {
    background-image: url(../../assets//images/contact-heading.jpg)
}

.page-heading {
    padding: 210px 0px 130px 0px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-heading .text-content h4 {
    color: #f33f3f;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.page-heading .text-content h2 {
    color: #fff;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/*---------------------------------------
  PRODUCT               
-----------------------------------------*/
.front-product {
    background: var(--section-bg-color);
}

.product-thumb {
    background: var(--white-color);
    position: relative;
    transition: all 0.5s ease-out;
}

.product-image {
    transition: all 0.5s ease-out;
}

.product-thumb:hover .product-image {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.product-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 20px;
}

.product-info {
    padding: 30px 20px;
}

.product-description,
.product-cart-thumb {
    padding: 0 20px;
}

.product-icon {
    color: var(--white-color);
}

.product-title-link {
    color: var(--dark-color);
}

.product-additional-link {
    display: inline-block;
    vertical-align: top;
    font-size: var(--product-link-font-size);
    margin-top: 32px;
    margin-right: 12px;
}

.product-alert {
    background: var(--white-color);
    color: var(--p-color);
    font-size: var(--custom-link-font-size);
    font-weight: var(--font-weight-bold);
    padding: 3px 10px;
}

.product-p {
    font-size: var(--product-link-font-size);
}

.view-all {
    text-transform: uppercase;
    color: var(--p-color);
    font-size: 13px;
    font-weight: var(--font-weight-bold);
    border-bottom: 2px solid var(--grey-color);
    padding-bottom: 6px;
}
.view-all {
    text-transform: uppercase;
    color: var(--p-color);
    font-size: 13px;
    font-weight: var(--font-weight-bold);
    border-bottom: 2px solid var(--grey-color);
    padding-bottom: 6px;
}
.paragraph-style  {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
    margin-top: -25px;
    margin-left: 110px;
    width: 80%;
    text-align: center;
    color: #555;
    text-align:justify; /* Justify the content */
    /* Add any other styles you find attractive */
  }
  .paragraph-style2  {
    font-size: 15px;
    line-height: 1.6;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    color: #555;
    text-align:justify; /* Justify the content */
    /* Add any other styles you find attractive */
  }

  @media (max-width: 991px) {
    .paragraph-style {
        margin-left: 30px;
    }
}
  .fle{
    display: flex;
  }
  .cta-button {
      background-color: black;
      color: #fff;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
 .aboutredirect{
    background-color: rgb(150, 150, 150);
    padding: 15px;
        width: 20%;
        margin: auto;
        
    }
.aboutredirect:hover {
    background-color: #f33f3f;
  }
  .aboutredirect1:hover {
      background-color: #f33f3f;
  }
  .aboutredirect1{
    background-color: rgb(150, 150, 150);
    padding: 15px;
        max-width: 40%;
        margin-top: 25px;
       margin-left: 120px;
  }
  .aboutredirectLink{
    color: white !important;
  }
  @media (max-width: 1200px) {
    .aboutredirect1{
        max-width: 50%;
    }
}

@media (max-width: 991px) {
    .aboutredirecttitle {
        margin-top: -90px;
    }
}