/* Banner Style */
.banner {
    position: relative;
    text-align: center;
    padding-top: 80px;
}

.banner-item {
    padding: 300px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 600px;
}

.banner-item-01 {
    background-image: url('../../assets/images/slider_img1.jpg');
}

.banner-item-02 {
    background-image: url('../../assets/images/slide_02.jpg');
}

.banner-item-03 {
    background-image: url('../../assets/images/slide_03.jpg');
}

.banner-item .text-content {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: #fff;
}

.banner .text-content h4 {
	color: #f33f3f;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.banner .text-content h2 {
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    opacity: 0.5;
}

.owl-dots .owl-dot:focus {
    outline: none;
}

.owl-dots .owl-dot.active {
    background-color: #fff;
    opacity: 1;
}

.owl-banner .owl-dots .owl-dot {
    border-radius: 3px;
}

.owl-banner .owl-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

@media (max-width: 768px) {
    .banner .text-content {
		width: 90%;
		margin-left: 5%;
	}
	.banner .text-content h4 {
		font-size: 22px;
	}

	.banner .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
	.banner-item-01,
	.banner-item-02,
	.banner-item-03 {
		padding: 180px 0px;
	}
	.page-heading .text-content h4 {
		font-size: 22px;
	}

	.page-heading .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
}
