/* Banner Style */
.banner {
    position: relative;
    text-align: center;
    padding-top: 40px;
}
.banner-item {
    padding: 200px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.banner-item-01 {
    background-image: url('../../assets/images/unsplash/ban.avif');   
}
.banner-item-02 {
    background-image: url('../../assets/images/CHEC/B2.avif');
}
.banner-item-03 {
    background-image: url('../../assets/images/slider_img1.jpg'); 
}
.banner-item-03 img {
    max-height: 20px;
}
.banner-item .text-content {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: #fff;
}
.banner .text-content h4 {
	color: #f33f3f;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.banner .text-content h2 {
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
@media (max-width: 768px) {
    .banner .text-content {
		width: 90%;
		margin-left: 5%;
	}
	.banner .text-content h4 {
		font-size: 22px;
	}

	.banner .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
	.banner-item-01,
	.banner-item-02,
	.banner-item-03 {
		padding: 180px 0px;
	}
	.page-heading .text-content h4 {
		font-size: 22px;
	}

	.page-heading .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
}
/* Style for your custom dots */
.slick-dots .custom-dot {
    width: 10px;
    height: 10px;
    background-color: #000;
    border: none;
    border-radius: 90%;
    margin-right: 5px;
  position: relative;
    filter: blur(2px);
    transition: filter 0.3s ease;
    margin-top: -40px;
    /* Move all dots upward */
}
/* Override styles for the active dot */
.slick-dots .custom-dot.active {
    background-color: #fff !important;
    filter: none !important;
    /* You can leave or adjust the margin-top for the active dot if needed */
}