/*

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

*/


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
    --white-color: #FFFFFF;
    --primary-color: #FF4400;
    --section-bg-color: #f0f8ff;
    --dark-color: #000000;
    --grey-color: #d0d1d1;
    --p-color: #717275;

    --body-font-family: 'Inter', sans-serif;

    --h5-font-size: 24px;
    --p-font-size: 20px;
    --copyright-text-font-size: 16px;
    --product-link-font-size: 14px;
    --custom-link-font-size: 12px;

    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}
.main_foot{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}
*{
    margin: 0;
    padding: 0;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span
/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

h1,
h2 {
    font-weight: var(--font-weight-black);
}

h1 {
    font-size: 64px;
    line-height: normal;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
}

a,
button {
    touch-action: manipulation;
    transition: all 0.3s;
}

a {
    color: var(--p-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}
.footer-menu-link{
    color: var(--p-color);
    text-decoration: none;
    touch-action: manipulation;
    transition: all 0.3s;
}
.footer-menu-link:hover{
    color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color) !important;
}

::selection {
    background: var(--primary-color);
    color: var(--white-color);
}



/*---------------------------------------
  SITE FOOTER               
-----------------------------------------*/
.footer{
    max-width: 100%;
}
.footer_mergin {
    margin-top: 110px;
    padding: px;
   
}
.site-footer {
    background: var(--dark-color);
    padding-bottom: 5rem;
}
/* .site_mapp{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
} */
.footer-menu {
    margin: 0;
    padding: 0;
}

.footer-menu-item {
    display: block;
    /* width: 50%; */
}

.footer-menu-link {
    color: #6c757d;
    font-weight: var(--font-weight-light);
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    margin-bottom: 4px;
}

.site-footer .social-icon-link {
    margin-top: 4px;
}

.site-footer .social-icon-link:hover,
.footer-menu-link:hover {
    color: var(--white-color);
}

.copyright-text {
    font-size: var(--copyright-text-font-size);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
    margin: 0;
    padding: 0;
}

.social-icon li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.social-icon-link {
    color: #6c757d;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 4px;
    margin-right: 15px;
}

.social-icon-link:hover {
    color: var(--primary-color);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1200px) {
    h1 {
        font-size: 62px;
    }
}

@media screen and (max-width: 750px) {
    .main_foot {
        display: block;
        width: 100%;
        margin: 0px 25px;
    }
    .social .lists{
        padding-top: 1500px;
    }
}


@media screen and (max-width: 350px) {
    .main_foot {
      
        margin: 0px 10px;
    }
}


